Testing 

	describe("Darktoken", ()=> {
		//Tets go insisde here...
	
	})Windows Console:

	Create new file in current folder: Touch Foldername/FileName

	Begin Test: npx hardhat test


///
Git:

	Git init
	Git add .
	GIt commit


///
Hardhat:

	Start Developer Blockchain: npx hardhat node     //Do it on a different sublime window
	Compile: npx hardhat compile
	Deploy Token Contract: 	npx hardhat run --network localhost ./scripts/1_deploy.js
	Hardhat Console: npx hardhat console --network localhost


Ethers

	Define accounts: const accounts = await ethers.getSigners()
	Check account addres: accounts[0].address
	Define balance: const balance = await ethers.provider.getBalance(accounts[0].address)
	Check balance: balance
	See balance in ETH: ethers.utils.formatEther(balance.toString())

Remix
	npm run start


Redux

